@import "../../assets/styles/colors";
@import "../../assets/styles/links";

nav {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	padding: 45px 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: auto;
	width: 100%;

	.container {
		max-width: 960px;
		margin-left: auto;
		margin-right: auto;

		ul {
			li {
				display: inline-block;
				padding: 12px;
				margin-right: 2px;
				position: relative;
				transition: 200ms;

				a {
					img {
						width: 200px;
					}
				}
			}
		}
	}
}
