/* VARIABLES */
:root {
	--mainDark: #040066;
	--secondDark: #0a0099;
	--mainLight: #ffffff;
	--secondLight: #006ee5;
	--darkText: #000000;
	--lightText: #ffffff;
}

/* GLOBAL */
body {
	font-family: "Fredoka One", cursive;
}

/* NAVIGATION */
nav {
}

.nav__list {
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.nav__item {
	margin: 0 20px;
}

.nav__link {
	text-decoration: none;
	font-size: 20px;
	text-transform: uppercase;
	color: red;
}

.nav__link:hover {
	text-decoration-line: overline;
	color: black;
}
