/* VARIABLES */
:root {
	--mainDark: #040066;
	--secondDark: #0a0099;
	--mainLight: #ffffff;
	--secondLight: #006ee5;
	--darkText: #000000;
	--lightText: #ffffff;
}

/* GLOBAL */
body {
	font-family: "Fredoka One", cursive;
	margin: 0;
	background: var(--secondLight);
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 32px;
}

h3 {
	font-size: 24px;
}

p {
	font-size: 18px;
}

.dark-text {
	color: var(--darkText);
}

.light-text {
	color: var(--lightText);
}

/* NAVIGATION */
nav {
	position: fixed;
	width: 100vw;
	background: var(--mainDark);
	overflow: hidden;
	top: 0;
}

.nav__list {
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin: 0;
	padding: 15px;
}

.nav__item {
	margin: 0 20px;
}

.nav__link {
	text-decoration: none;
	font-size: 20px;
	text-transform: uppercase;
	color: var(--lightText);
}

.nav__link:hover {
	text-decoration-line: overline;
	text-decoration-style: solid;
}

/* Top */
.welcome {
	margin-top: 10px;
	padding: 20px;
}

.profile-image {
}
